/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
#header {
    background-color: #1E3648;; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

/* Main Content Area */
#content {
    display: flex;
    flex-direction: row; /* Horizontal layout */
}

#prevtranscripts-pane {
    flex: 1; /* 1/4 of the available width */
    color: #D5D9BE;
    background-color: #2A4E5C;;
    padding: 10px;
    overflow-y: auto;
}

#prevtranscripts-pane h2 {
    font-size: 20px;
    margin-bottom: 10px;
    height: 5vh;
}

.container {
    flex: 3; /* 3/4 of the available width */
    display: flex;
    flex-direction: column; /* Vertical layout */
}

#transcription-pane{
    flex: 1; /* Equal height and stacked vertically */
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-bottom: 10px; /* Add space between the divs if needed */
}

#real-time-transcript,
#real-time-summary {
    font-weight: bold;
}

/* Add additional styling as needed */

.transcript-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.transcript-box h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #1E3648;
}

.transcript-box p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #2A4E5C;
}

#summarization-pane{
    flex: 1; /* Equal height and stacked vertically */
    padding: 10px;
    background-color: #D5D9BE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-bottom: 10px; /* Add space between the divs if needed */
}
