.checkbox-2 {
  position: relative !important;
}

.checkbox-4-instance {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.icon-instance-node-2 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}
